<h1>Editar Lista</h1>

<%= form_with(model: @list, local: true) do |form| %>
  <div>
    <%= form.label :name, "Nome da Lista" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Atualizar Lista" %>
  </div>
<% end %>

<h2>Tarefas</h2>

<%= render partial: "items/form", locals: { items: @list.items } %>

<%= link_to 'Concluido', lists_path %> 
<%= link_to 'Voltar', lists_path %>

