<div class="container_main">

  <div class="header">
    <h1>To Do List</h1>
  </div>


  <ul class="scrollable-list">
    <% if @lists.any? %>
      <% @lists.reverse.each do |list| %>
        <li class="list-item">
          <div class="left list-text">
              <%= link_to list.name, list_path(list),class: 'text link' %>
          </div>
          <div class="right">
              <%= link_to image_tag('clip.svg', alt: 'Edit',width: '20', height: '20'), edit_list_path(list),class: "button button_edit" %> |
              <%= link_to image_tag('delete.svg', alt: 'Delete',width: '20', height: '20'), list_path(list), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete?' },class: "button button_edit " %>
          </div>
        </li>
      <% end %>
    <% else %>
      <p> A lista está vazia</p>
    <% end %>
  </ul>

  <%= link_to "#{image_tag('pen.svg', alt: 'Insert List',width: '20', height: '20')} Insert List".html_safe, new_list_path,class: "button button_create link" %>

  <% if user_signed_in? %>
   <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% end %>

  <footer>
    <span class="bottom-right-text ">1</span>
  </footer>

</div>