<h1>Nova Lista</h1>

<%= form_with model: @list, local: true do |form| %>
  <%= form.label :name, "Nome da Lista" %>
  <%= form.text_field :name %>
  <%= form.submit "Criar Lista" %>
<% end %>

<%= link_to 'Voltar', lists_path %>