<%= stylesheet_link_tag 'general', media: 'all' %>
<div class="container_main">
  <div class="header">
    <h1><%= @list.name %></h1>
  </div>

  <h2 class="header" style="border: none; font-size: 20px;">ITEMS:</h2>
  <ul class="scrollable-list" style="max-height: 200px;">
    <% if @list.items.any? %>
      <% @list.items.reverse.each do |item| %>
        <li>
          <%= item.title %> - <%= item.completed ? "Completed ✅" : "Pending ⏳" %>
        </li>
      <% end %>
    <% else %>
      <p> The list is empty</p>
    <% end %>
  </ul>

  <h2 class="header" style="border: none; font-size: 20px;">Add Item</h2>
  <%= form_with model: [@list, @item], local: true, html: { onsubmit: "return validateForm(this);" } do |form| %>
    <%= form.label :title, "Title: " %>
    <%= form.text_field :title, class: "text-field" %>
    <%= button_tag(type: 'submit', class: "button") do %>
      <%= image_tag('pen.svg', alt: 'Insert', width: '20', height: '20') %>
      Insert
    <% end %>
  <% end %>

  <div id="error-message" style="color: red; display: none;">
    The item title cannot be empty!
  </div>

  <%= link_to "#{image_tag('voltar.png', alt: 'Voltar', width: '20', height: '20')} Back".html_safe, lists_path, class: "button link", style: "margin-top: 20px;" %>

  <footer>
    <span class="bottom-right-text ">4</span>
  </footer>
</div>

<script>
  function validateForm(form) {
    const titleInput = form.querySelector("input[name='item[title]']"); 
    const errorMessage = document.getElementById("error-message");
    const trimmedValue = titleInput.value.trim();

    if (trimmedValue === "") {
      errorMessage.style.display = "block"; 
      setTimeout(() => {
        errorMessage.style.display = "none"; 
      }, 1000);
      return false;

    } else {
      errorMessage.style.display = "none"; 
    }
    
    return true;
  }
</script>
