<%= stylesheet_link_tag 'general', media: 'all' %>

<div class='scrollable-list'>
  <% if items.any? %>
    <% items.reverse.each_with_index do |item, index| %> 
      <div>
        <%= form_with(model: [@list, item], local: true) do |item_form| %>
          <div class="form-group">
            <h2 style="font-weight: bold; font-size: 30px;">
              <span style="color: red;"><%= index + 1 %>.</span> 
              <span style="color: black;"><%= item.title %></span> 
            </h2>
            <%= item_form.text_field :title, class: "text-field" %>
            <%= item_form.check_box :completed, style: "width: 30px; height: 20px;" %>
            <div id="error-message" style="color: red; display: none;">
              O campo de título não pode estar vazio!
            </div>
          </div>

          <div>
            <%= button_tag(type: 'submit', class: "button") do %>
              <%= image_tag('check.png', alt: 'Salvar Tarefa', width: '14', height: '14') %>
            <% end %>

            <%= link_to image_tag('delete.svg', alt: 'Deletar', width: '10', height: '10'), list_item_path(@list, item), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir?' }, class: "button" %>
          </div>
        <% end %>
      </div>

    <% end %>
  <% else %>
    <p>A lista está vazia</p>
  <% end %>
</div>
<script>
  document.addEventListener('turbo:load', () => {
    const forms = document.querySelectorAll('form');

    forms.forEach(form => {
      form.addEventListener('submit', (event) => {
        const titleField = form.querySelector('.text-field');
        const errorMessage = form.querySelector('#error-message');

        if (!titleField.value.trim()) {
          event.preventDefault(); // Impede o envio do formulário
          errorMessage.style.display = 'block'; // Mostra a mensagem de erro
          errorMessage.textContent = 'O campo de título não pode estar vazio!';
          setTimeout(() => {
            errorMessage.style.display = "none"; 
          }, 1000);
        } else {
          errorMessage.style.display = 'none'; // Esconde a mensagem de erro se não estiver vazio
        }
      });
    });
  });
</script>
